In [1]:
import pandas as pd
from matplotlib import pyplot as plt 
%matplotlib inline
import numpy as np
import seaborn as sns

In [2]:
newdata=pd.read_csv(r"C:\Users\Asus\Downloads\UtPredictor\ST2ml.csv", encoding='unicode_escape')

In [3]:
newdata

,NAME,CHEMISTRY,MATHS,ELECTRONICS,MECHANICAL,SOFTSKILLS,TOTAL,PERCENTAGE,NAMEPUT,CHEMISTRYPUT,MATHSPUT,ELECTRONICSPUT,MECHANICALPUT,SOFTSKILLSPUT,TOTALPUT,PERCENTAGEPUT
0,AADITYA KUMAR,8,36,31.5,29.5,27,132.0,52.8,AADITYA KUMAR,31.5,47,38,36.5,44,197.0,56.3
1,AAKARSH SINGH,31.5,30,43.5,45.5,39,189.5,75.8,AAKARSH SINGH,53,37,53,63,56,262.0,74.9
2,AAKARSH SINGH,17,8,19,23,32,99.0,39.6,AAKARSH SINGH,33,20,45,30,36,164.0,46.9
3,AAKASH SAXENA,5.5,1,NaN,13.5,16,36.0,14.4,AAKASH SAXENA,17,24,8,17.5,32,98.5,28.1
4,AANSHI GUPTA,2,21,30,10,20,83.0,33.2,AANSHI GUPTA,37,34,44,38.5,33,186.5,53.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336,VEDANSH TRIPATHI,15,14,11.5,15,41,96.5,42.6,VEDANSH TRIPATHI,25.5,31,21.5,36.5,59,173.5,49.6
337,VISHAL AGRAWAL,15,29,29,18,17,108.0,38.6,VISHAL AGRAWAL,41,50,35.5,25.5,42,194.0,55.4
338,VIVEK SINGH,17,6,12,25.5,32,92.5,43.2,VIVEK SINGH,22,21.5,15.5,32.5,52,143.5,41.0
339,YASH MISHRA,37,47,45,42,32,203.0,37.0,YASH MISHRA,41,67,62,52.5,48.5,271.0,77.4
340,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Seems like all the odd rows are blank

In [4]:
dataseteven=newdata

In [5]:
dataseteven

,NAME,CHEMISTRY,MATHS,ELECTRONICS,MECHANICAL,SOFTSKILLS,TOTAL,PERCENTAGE,NAMEPUT,CHEMISTRYPUT,MATHSPUT,ELECTRONICSPUT,MECHANICALPUT,SOFTSKILLSPUT,TOTALPUT,PERCENTAGEPUT
0,AADITYA KUMAR,8,36,31.5,29.5,27,132.0,52.8,AADITYA KUMAR,31.5,47,38,36.5,44,197.0,56.3
1,AAKARSH SINGH,31.5,30,43.5,45.5,39,189.5,75.8,AAKARSH SINGH,53,37,53,63,56,262.0,74.9
2,AAKARSH SINGH,17,8,19,23,32,99.0,39.6,AAKARSH SINGH,33,20,45,30,36,164.0,46.9
3,AAKASH SAXENA,5.5,1,NaN,13.5,16,36.0,14.4,AAKASH SAXENA,17,24,8,17.5,32,98.5,28.1
4,AANSHI GUPTA,2,21,30,10,20,83.0,33.2,AANSHI GUPTA,37,34,44,38.5,33,186.5,53.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336,VEDANSH TRIPATHI,15,14,11.5,15,41,96.5,42.6,VEDANSH TRIPATHI,25.5,31,21.5,36.5,59,173.5,49.6
337,VISHAL AGRAWAL,15,29,29,18,17,108.0,38.6,VISHAL AGRAWAL,41,50,35.5,25.5,42,194.0,55.4
338,VIVEK SINGH,17,6,12,25.5,32,92.5,43.2,VIVEK SINGH,22,21.5,15.5,32.5,52,143.5,41.0
339,YASH MISHRA,37,47,45,42,32,203.0,37.0,YASH MISHRA,41,67,62,52.5,48.5,271.0,77.4
340,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## we would ideally like to use the rows that have no debarred or absent values for the prediction model

In [6]:
dataseteven

,NAME,CHEMISTRY,MATHS,ELECTRONICS,MECHANICAL,SOFTSKILLS,TOTAL,PERCENTAGE,NAMEPUT,CHEMISTRYPUT,MATHSPUT,ELECTRONICSPUT,MECHANICALPUT,SOFTSKILLSPUT,TOTALPUT,PERCENTAGEPUT
0,AADITYA KUMAR,8,36,31.5,29.5,27,132.0,52.8,AADITYA KUMAR,31.5,47,38,36.5,44,197.0,56.3
1,AAKARSH SINGH,31.5,30,43.5,45.5,39,189.5,75.8,AAKARSH SINGH,53,37,53,63,56,262.0,74.9
2,AAKARSH SINGH,17,8,19,23,32,99.0,39.6,AAKARSH SINGH,33,20,45,30,36,164.0,46.9
3,AAKASH SAXENA,5.5,1,NaN,13.5,16,36.0,14.4,AAKASH SAXENA,17,24,8,17.5,32,98.5,28.1
4,AANSHI GUPTA,2,21,30,10,20,83.0,33.2,AANSHI GUPTA,37,34,44,38.5,33,186.5,53.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336,VEDANSH TRIPATHI,15,14,11.5,15,41,96.5,42.6,VEDANSH TRIPATHI,25.5,31,21.5,36.5,59,173.5,49.6
337,VISHAL AGRAWAL,15,29,29,18,17,108.0,38.6,VISHAL AGRAWAL,41,50,35.5,25.5,42,194.0,55.4
338,VIVEK SINGH,17,6,12,25.5,32,92.5,43.2,VIVEK SINGH,22,21.5,15.5,32.5,52,143.5,41.0
339,YASH MISHRA,37,47,45,42,32,203.0,37.0,YASH MISHRA,41,67,62,52.5,48.5,271.0,77.4
340,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
dataseteven.isna().sum()

NAME               1
CHEMISTRY         16
MATHS             11
ELECTRONICS       22
MECHANICAL        20
SOFTSKILLS        19
TOTAL              1
PERCENTAGE         0
NAMEPUT            1
CHEMISTRYPUT       7
MATHSPUT           7
ELECTRONICSPUT     8
MECHANICALPUT      7
SOFTSKILLSPUT      5
TOTALPUT           1
PERCENTAGEPUT      1
dtype: int64

In [8]:
df_filtered=dataseteven.dropna()

In [9]:
df_filtered.isna().sum()

NAME              0
CHEMISTRY         0
MATHS             0
ELECTRONICS       0
MECHANICAL        0
SOFTSKILLS        0
TOTAL             0
PERCENTAGE        0
NAMEPUT           0
CHEMISTRYPUT      0
MATHSPUT          0
ELECTRONICSPUT    0
MECHANICALPUT     0
SOFTSKILLSPUT     0
TOTALPUT          0
PERCENTAGEPUT     0
dtype: int64

In [10]:
df_filtered

,NAME,CHEMISTRY,MATHS,ELECTRONICS,MECHANICAL,SOFTSKILLS,TOTAL,PERCENTAGE,NAMEPUT,CHEMISTRYPUT,MATHSPUT,ELECTRONICSPUT,MECHANICALPUT,SOFTSKILLSPUT,TOTALPUT,PERCENTAGEPUT
0,AADITYA KUMAR,8,36,31.5,29.5,27,132.0,52.8,AADITYA KUMAR,31.5,47,38,36.5,44,197.0,56.3
1,AAKARSH SINGH,31.5,30,43.5,45.5,39,189.5,75.8,AAKARSH SINGH,53,37,53,63,56,262.0,74.9
2,AAKARSH SINGH,17,8,19,23,32,99.0,39.6,AAKARSH SINGH,33,20,45,30,36,164.0,46.9
4,AANSHI GUPTA,2,21,30,10,20,83.0,33.2,AANSHI GUPTA,37,34,44,38.5,33,186.5,53.3
5,AARUSHI GUPTA,43,47,42.5,45,44,221.5,88.6,AARUSHI GUPTA,64.5,51,61,58,60,294.5,84.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335,UTKARSH RAJ,15,16,28.5,20,27,106.5,79.2,UTKARSH RAJ,28,42,48,40,47,205.0,58.6
336,VEDANSH TRIPATHI,15,14,11.5,15,41,96.5,42.6,VEDANSH TRIPATHI,25.5,31,21.5,36.5,59,173.5,49.6
337,VISHAL AGRAWAL,15,29,29,18,17,108.0,38.6,VISHAL AGRAWAL,41,50,35.5,25.5,42,194.0,55.4
338,VIVEK SINGH,17,6,12,25.5,32,92.5,43.2,VIVEK SINGH,22,21.5,15.5,32.5,52,143.5,41.0
339,YASH MISHRA,37,47,45,42,32,203.0,37.0,YASH MISHRA,41,67,62,52.5,48.5,271.0,77.4

In [11]:
df_filtered.columns

Index(['NAME', 'CHEMISTRY', 'MATHS', 'ELECTRONICS', 'MECHANICAL', 'SOFTSKILLS',
       'TOTAL', 'PERCENTAGE', 'NAMEPUT', 'CHEMISTRYPUT', 'MATHSPUT',
       'ELECTRONICSPUT', 'MECHANICALPUT', 'SOFTSKILLSPUT', 'TOTALPUT',
       'PERCENTAGEPUT'],
      dtype='object')

In [12]:
columns_to_check = ['CHEMISTRY', 'MATHS', 'ELECTRONICS', 'MECHANICAL', 'SOFTSKILLS',
                    'TOTAL', 'PERCENTAGE', 'CHEMISTRYPUT', 'MATHSPUT',
                    'ELECTRONICSPUT', 'MECHANICALPUT', 'SOFTSKILLSPUT', 'TOTALPUT',
                    'PERCENTAGEPUT']

In [13]:
df_filtered

,NAME,CHEMISTRY,MATHS,ELECTRONICS,MECHANICAL,SOFTSKILLS,TOTAL,PERCENTAGE,NAMEPUT,CHEMISTRYPUT,MATHSPUT,ELECTRONICSPUT,MECHANICALPUT,SOFTSKILLSPUT,TOTALPUT,PERCENTAGEPUT
0,AADITYA KUMAR,8,36,31.5,29.5,27,132.0,52.8,AADITYA KUMAR,31.5,47,38,36.5,44,197.0,56.3
1,AAKARSH SINGH,31.5,30,43.5,45.5,39,189.5,75.8,AAKARSH SINGH,53,37,53,63,56,262.0,74.9
2,AAKARSH SINGH,17,8,19,23,32,99.0,39.6,AAKARSH SINGH,33,20,45,30,36,164.0,46.9
4,AANSHI GUPTA,2,21,30,10,20,83.0,33.2,AANSHI GUPTA,37,34,44,38.5,33,186.5,53.3
5,AARUSHI GUPTA,43,47,42.5,45,44,221.5,88.6,AARUSHI GUPTA,64.5,51,61,58,60,294.5,84.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335,UTKARSH RAJ,15,16,28.5,20,27,106.5,79.2,UTKARSH RAJ,28,42,48,40,47,205.0,58.6
336,VEDANSH TRIPATHI,15,14,11.5,15,41,96.5,42.6,VEDANSH TRIPATHI,25.5,31,21.5,36.5,59,173.5,49.6
337,VISHAL AGRAWAL,15,29,29,18,17,108.0,38.6,VISHAL AGRAWAL,41,50,35.5,25.5,42,194.0,55.4
338,VIVEK SINGH,17,6,12,25.5,32,92.5,43.2,VIVEK SINGH,22,21.5,15.5,32.5,52,143.5,41.0
339,YASH MISHRA,37,47,45,42,32,203.0,37.0,YASH MISHRA,41,67,62,52.5,48.5,271.0,77.4

In [14]:
df_filtered.isna().sum()

NAME              0
CHEMISTRY         0
MATHS             0
ELECTRONICS       0
MECHANICAL        0
SOFTSKILLS        0
TOTAL             0
PERCENTAGE        0
NAMEPUT           0
CHEMISTRYPUT      0
MATHSPUT          0
ELECTRONICSPUT    0
MECHANICALPUT     0
SOFTSKILLSPUT     0
TOTALPUT          0
PERCENTAGEPUT     0
dtype: int64

In [15]:
df_filtered

,NAME,CHEMISTRY,MATHS,ELECTRONICS,MECHANICAL,SOFTSKILLS,TOTAL,PERCENTAGE,NAMEPUT,CHEMISTRYPUT,MATHSPUT,ELECTRONICSPUT,MECHANICALPUT,SOFTSKILLSPUT,TOTALPUT,PERCENTAGEPUT
0,AADITYA KUMAR,8,36,31.5,29.5,27,132.0,52.8,AADITYA KUMAR,31.5,47,38,36.5,44,197.0,56.3
1,AAKARSH SINGH,31.5,30,43.5,45.5,39,189.5,75.8,AAKARSH SINGH,53,37,53,63,56,262.0,74.9
2,AAKARSH SINGH,17,8,19,23,32,99.0,39.6,AAKARSH SINGH,33,20,45,30,36,164.0,46.9
4,AANSHI GUPTA,2,21,30,10,20,83.0,33.2,AANSHI GUPTA,37,34,44,38.5,33,186.5,53.3
5,AARUSHI GUPTA,43,47,42.5,45,44,221.5,88.6,AARUSHI GUPTA,64.5,51,61,58,60,294.5,84.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335,UTKARSH RAJ,15,16,28.5,20,27,106.5,79.2,UTKARSH RAJ,28,42,48,40,47,205.0,58.6
336,VEDANSH TRIPATHI,15,14,11.5,15,41,96.5,42.6,VEDANSH TRIPATHI,25.5,31,21.5,36.5,59,173.5,49.6
337,VISHAL AGRAWAL,15,29,29,18,17,108.0,38.6,VISHAL AGRAWAL,41,50,35.5,25.5,42,194.0,55.4
338,VIVEK SINGH,17,6,12,25.5,32,92.5,43.2,VIVEK SINGH,22,21.5,15.5,32.5,52,143.5,41.0
339,YASH MISHRA,37,47,45,42,32,203.0,37.0,YASH MISHRA,41,67,62,52.5,48.5,271.0,77.4

In [16]:
df_filtered.dropna()

,NAME,CHEMISTRY,MATHS,ELECTRONICS,MECHANICAL,SOFTSKILLS,TOTAL,PERCENTAGE,NAMEPUT,CHEMISTRYPUT,MATHSPUT,ELECTRONICSPUT,MECHANICALPUT,SOFTSKILLSPUT,TOTALPUT,PERCENTAGEPUT
0,AADITYA KUMAR,8,36,31.5,29.5,27,132.0,52.8,AADITYA KUMAR,31.5,47,38,36.5,44,197.0,56.3
1,AAKARSH SINGH,31.5,30,43.5,45.5,39,189.5,75.8,AAKARSH SINGH,53,37,53,63,56,262.0,74.9
2,AAKARSH SINGH,17,8,19,23,32,99.0,39.6,AAKARSH SINGH,33,20,45,30,36,164.0,46.9
4,AANSHI GUPTA,2,21,30,10,20,83.0,33.2,AANSHI GUPTA,37,34,44,38.5,33,186.5,53.3
5,AARUSHI GUPTA,43,47,42.5,45,44,221.5,88.6,AARUSHI GUPTA,64.5,51,61,58,60,294.5,84.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335,UTKARSH RAJ,15,16,28.5,20,27,106.5,79.2,UTKARSH RAJ,28,42,48,40,47,205.0,58.6
336,VEDANSH TRIPATHI,15,14,11.5,15,41,96.5,42.6,VEDANSH TRIPATHI,25.5,31,21.5,36.5,59,173.5,49.6
337,VISHAL AGRAWAL,15,29,29,18,17,108.0,38.6,VISHAL AGRAWAL,41,50,35.5,25.5,42,194.0,55.4
338,VIVEK SINGH,17,6,12,25.5,32,92.5,43.2,VIVEK SINGH,22,21.5,15.5,32.5,52,143.5,41.0
339,YASH MISHRA,37,47,45,42,32,203.0,37.0,YASH MISHRA,41,67,62,52.5,48.5,271.0,77.4

# Training the Model

In [18]:
df=df_filtered

In [19]:
df

,NAME,CHEMISTRY,MATHS,ELECTRONICS,MECHANICAL,SOFTSKILLS,TOTAL,PERCENTAGE,NAMEPUT,CHEMISTRYPUT,MATHSPUT,ELECTRONICSPUT,MECHANICALPUT,SOFTSKILLSPUT,TOTALPUT,PERCENTAGEPUT
0,AADITYA KUMAR,8,36,31.5,29.5,27,132.0,52.8,AADITYA KUMAR,31.5,47,38,36.5,44,197.0,56.3
1,AAKARSH SINGH,31.5,30,43.5,45.5,39,189.5,75.8,AAKARSH SINGH,53,37,53,63,56,262.0,74.9
2,AAKARSH SINGH,17,8,19,23,32,99.0,39.6,AAKARSH SINGH,33,20,45,30,36,164.0,46.9
4,AANSHI GUPTA,2,21,30,10,20,83.0,33.2,AANSHI GUPTA,37,34,44,38.5,33,186.5,53.3
5,AARUSHI GUPTA,43,47,42.5,45,44,221.5,88.6,AARUSHI GUPTA,64.5,51,61,58,60,294.5,84.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335,UTKARSH RAJ,15,16,28.5,20,27,106.5,79.2,UTKARSH RAJ,28,42,48,40,47,205.0,58.6
336,VEDANSH TRIPATHI,15,14,11.5,15,41,96.5,42.6,VEDANSH TRIPATHI,25.5,31,21.5,36.5,59,173.5,49.6
337,VISHAL AGRAWAL,15,29,29,18,17,108.0,38.6,VISHAL AGRAWAL,41,50,35.5,25.5,42,194.0,55.4
338,VIVEK SINGH,17,6,12,25.5,32,92.5,43.2,VIVEK SINGH,22,21.5,15.5,32.5,52,143.5,41.0
339,YASH MISHRA,37,47,45,42,32,203.0,37.0,YASH MISHRA,41,67,62,52.5,48.5,271.0,77.4

In [20]:
df.columns

Index(['NAME', 'CHEMISTRY', 'MATHS', 'ELECTRONICS', 'MECHANICAL', 'SOFTSKILLS',
       'TOTAL', 'PERCENTAGE', 'NAMEPUT', 'CHEMISTRYPUT', 'MATHSPUT',
       'ELECTRONICSPUT', 'MECHANICALPUT', 'SOFTSKILLSPUT', 'TOTALPUT',
       'PERCENTAGEPUT'],
      dtype='object')

In [21]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

In [22]:
STfields = ['CHEMISTRY', 'MATHS', 'ELECTRONICS', 'MECHANICAL', 'SOFTSKILLS', 'TOTAL', 'PERCENTAGE']

In [23]:
PUTfields = ['CHEMISTRYPUT', 'MATHSPUT', 'ELECTRONICSPUT', 'MECHANICALPUT', 'SOFTSKILLSPUT', 'TOTALPUT', 'PERCENTAGEPUT']

In [24]:
X = df[STfields]

In [25]:
y = df[PUTfields]

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=30)

In [27]:
model = LinearRegression()

In [28]:
model.fit(X_train, y_train)

LinearRegression()

In [29]:
predictions = model.predict(X_test)

In [30]:
STnew_data = {
    'CHEMISTRY': [25],
    'MATHS': [34],
    'ELECTRONICS': [36],
    'MECHANICAL': [31],
    'SOFTSKILLS': [31],
    'TOTAL': [157],
    'PERCENTAGE': [62.8],
}

In [31]:
STnew_data_df = pd.DataFrame(STnew_data)
new_predictions = model.predict(STnew_data_df[STfields])
print(f'Predictions for UT:\n{new_predictions}')

Predictions for UT:
[[ 41.72131335  48.72986574  44.40286629  40.00560166  49.55965835
  224.4193054   64.11953828]]